div(ng-include='"components/navbar/navbar.html"')

//header#banner.hero-unit
    //.container
    //  h1 'Allo, 'Allo!
    //  p.lead Kick-start your next web app with Angular Fullstack
    //  img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
      //.row
      .col-md-2.row-eq-height.set-tree

        div(data-angular-treeview="true",
          data-tree-id="treeHierarchy",
          data-tree-model="treeHierarchyData()",
          data-node-id="id",
          data-node-label="label",
          data-node-children="children")

      .col-md-2.row-eq-height
        div(data-angular-treeview="true",
          data-tree-id="treePair",
          data-tree-model="treePairData()",
          data-node-id="id2",
          data-node-label="label",
          data-node-children="children")


      .col-md-8.row-eq-height
        pre.textdiff(line-diff="true", left-obj="left", right-obj="right")

//      h1.page-header Features:
//      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
//        li
//          a(href='#', tooltip='{{thing.info}}')
//            | {{thing.name}}

footer.footer
  .container
    p
      a(href='mailto:jeremystuartmarshall@gmail.com', ng-click="yyy()")
        &copy; Jeremy Marshall
    //  = ' | '
    //  a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
